@use '@styles/global' as *;
@use '@styles/mixin' as *;

.wrapper {
  width: 100%;
  height: 100vh;

  background-image: url('/images/hero-banner.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    text-align: center;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 10rem;
      font-weight: 500;
      color: var(--titleWithBg);
      filter: drop-shadow(0px -4px 4px var(--black));
    }

    .description {
      margin: 10px 0 5px;
      font-size: 2.5rem;
      color: var(--secondary);
      filter: drop-shadow(0px -4px 4px var(--black));
    }

    .action {
      width: 200px;
      padding: 12px 8px;
      margin: 0 auto;
      font-size: 1.8rem;
      font-weight: 600;
      text-decoration: none;

      border: none;
      border-radius: 8px;
      color: var(--titleWithBg);
      box-shadow: 0px -4px 4px var(--black);
      background-image: linear-gradient(45deg, var(--secondary) 0%, var(--tertiary) 100%);
      transition: 0.3s all ease-in-out;

      &:hover {
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0px 0px 0px var(--black);
      }
    }
  }
}
