@use '@styles/mixin' as *;

.wrapper {
  padding: 20px 15px;

  .feature-container {
    margin: 10px 0;
    .title {
      margin: 15px 0;
      font-size: 8rem;
      font-weight: 500;
      text-align: center;
      color: var(--secondary);
    }

    .card-list {
      margin: 0 auto;
      max-width: 1100px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @include respond-above(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond-above(xs) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
