@use '@styles/mixin' as *;

.wrapper {
  padding: 20px 15px;

  .feature-container {
    margin: 10px 0 150px;
    .title {
      margin: 15px 0;
      font-size: 8rem;
      font-weight: 500;
      text-align: center;
      color: var(--secondary);
    }

    @include respond-above(lg) {
      margin: 10px 0 80px;
    }

    .card-list {
      margin: 0 auto;
      max-width: 1100px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @include respond-above(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond-above(xs) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .download-container {
    max-width: 1100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto 10px;

    .download-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        margin: 15px 0;
        font-size: 5rem;
        font-weight: 600;
        text-align: center;
        color: var(--secondary);
      }

      .description {
        width: 65%;
        margin: 0px 0px 20px;
        font-size: 1.5rem;
        color: var(--secondary);
        text-align: center;
      }

      .action {
        img {
          width: 200px;
          height: auto;
          filter: drop-shadow(0px 0px 1px var(--shadow));
        }
      }
    }

    .download-image {
      position: relative;
      height: 300px;
      width: 300px;
      border-radius: 100%;
      background-color: var(--tertiary);

      img {
        position: absolute;
        bottom: -30px;
        left: -24px;
        width: auto;
        height: 400px;
      }
    }

    @include respond-above(lg) {
      flex-direction: column;

      .download-content {
        margin: 0px 0px 65px;
        .title {
          font-size: rem;
        }
      }
    }

    @include respond-above(md) {
      .download-content {
        margin: 0px 0px 65px;
        .title {
          font-size: 3.5rem;
        }
      }
    }
  }
}
