.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;

  background-image: url('/img/hero-banner.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  //Header
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    .logo-container {
      display: flex;
      align-items: center;

      img {
        width: 150px;
        height: auto;
        filter: drop-shadow(1px 1px 1px var(--black));
      }
    }

    .theme {
      button {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--white);
        text-transform: uppercase;
        background-color: transparent;
        transition: 0.3s linear;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          transition: transform 0.5s ease, opacity 0.2s ease;
        }

        &:active svg {
          transform: rotate(360deg);
        }
      }

      .btn {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--titleWithBg);
      }
    }
  }

  // Modal
  .modal {
  }
}
