@use '@styles/mixin' as *;

.wrapper {
  padding: 20px 15px;

  .title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--title);
  }

  .content {
    display: grid;
    margin: 15px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @include respond-above(lg) {
      margin: 10px 0;
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-above(md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .table {
    .rating-cell,
    .favorite-cell {
      display: flex;
      align-items: center;

      svg {
        margin-left: 5px;
      }
    }

    // FAVORITE
    .dish-name {
      font-size: 2rem;
      font-family: 500;
    }

    .dish-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 8px;
      overflow: hidden;
      background: var(--background);
      border: 2px solid var(--border);

      @include respond-above(md) {
        width: 60px;
        height: 60px;
      }
    }

    .dish-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
