@use '@styles/global' as *;
@use '@styles/mixin' as *;

.wrapper {
  font-size: 2rem;
  font-weight: 500;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .btn {
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--title);
    background-color: var(--btn-bg);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}
