@use '@styles/mixin' as *;

.wrapper {
  width: 100%;
  height: 100vh;

  .chat-container {
    height: 100%;
    display: flex;

    // CONVERSATION
    .conversation-container {
      height: 100%;
      width: 305px;
      padding: 20px 15px;
      border-right: 2px solid var(--border);

      display: flex;
      flex-direction: column;
      gap: 10px;

      .conversation-title {
        font-size: 3rem;
        font-weight: 600;
        color: var(--title);
      }

      // SEARCH
      .search-container {
        position: relative;
        max-width: 100%;

        // @include respond-above(md) {
        //   width: 100%;
        //   min-width: auto;
        // }

        .search-icon {
          position: absolute;
          left: 12px;
          top: 50%;
          font-size: 1.5rem;
          color: var(--title);
          transform: translateY(-50%);
        }

        .search-input {
          padding: 10px 12px 10px 40px;
          font-size: 1.5rem;
          color: var(--title);
          border-radius: 15px;
          border: 1px solid var(--border);
          background: var(--background);
          transition: all 0.3s ease;

          &:focus {
            outline: none;
            box-shadow: 2px 2px 1px var(--shadow);
          }

          &::placeholder {
            color: var(--input-placeholder);
          }
        }
      }

      // CONVERSATION-LIST
      .conversation-list {
        height: 100%;
        overflow-y: auto;

        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    }

    // CONTENT
    .conversation-content {
      height: 100%;
      flex: 1px;
    }
  }
}
