.wrapper {
  display: flex;
  flex-direction: column;

  // CHAT
  .chat-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  // CALOBOT PLACEHOLDER
  .calobot-placeholder {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    text-align: center;

    h2 {
      font-size: 2.4rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.8rem;
      opacity: 0.7;
    }
  }
}
