@use '@styles/mixin' as *;

.wrapper {
  position: fixed;
  top: 15px;
  left: 10px;
  padding: 5px 15px 10px;
  display: flex;
  height: 95vh;
  flex-direction: column;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  box-shadow: 1px 1px 5px var(--shadow);
  background-color: var(--background-side);
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  &.hide {
    transform: translateX(-100%);
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;

    img {
      height: 65px;
      width: auto;
      margin: 10px 0;
      padding: 5px 0 10px;
    }

    .title {
      padding: 5px 0;
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--description);
      border-top: 1px solid var(--input-border);
    }

    //List
    .list {
      flex: 1;

      .item {
        display: flex;
        a {
          width: 100%;
          padding: 10px 5px;
          font-size: 2.5rem;
          font-weight: 500;
          text-decoration: none;
          color: var(--title);
          border-radius: 5px;

          display: flex;
          align-items: center;
          transition: all 0.2s ease-in-out;

          span {
            margin-left: 5px;
          }

          &:hover {
            color: var(--white);
            background-color: var(--secondary);
          }
        }
      }
    }

    //Setting
    .setting-bg {
      padding: 10px 15px;
      margin: 0 0 10px;
      font-weight: 500;
      border-radius: 8px;
      border: 1px solid var(--secondary);
      background-color: var(--background-subside);

      .item {
        margin: 10px 0;
        font-size: 1.5rem;
        color: var(--title);

        display: flex;
        justify-content: space-between;

        .toggle-switch {
          position: relative;
          display: inline-block;
          width: 40px;
          height: 20px;
          margin-left: 10px;

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--description);
            transition: 0.4s;
            border-radius: 20px;

            &::before {
              content: '';
              position: absolute;
              height: 14px;
              width: 14px;
              left: 3px;
              bottom: 3px;
              background-color: var(--white);
              transition: 0.4s;
              border-radius: 50%;
            }
          }

          input:checked + .slider {
            background-color: var(--secondary);
          }

          input:checked + .slider::before {
            transform: translateX(20px);
          }
        }
      }
    }
  }

  .action {
    .logout-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 5px 0;
      font-size: 1.2rem;
      font-weight: 500;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      background-color: var(--red);
      border: 2px solid transparent;
      color: var(--white);
      transition: all 0.2s ease-in;

      span {
        margin-left: 5px;
        font-size: 1.8rem;
        font-weight: 500;
      }

      &:hover {
        color: var(--red);
        border-color: var(--red);
        background-color: transparent;
      }
    }
  }
}
