.wrapper {
  width: 100%;
  height: 100vh;

  .chat-icon {
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 50px;
    width: 50px;
    font-size: 6rem;
    border-radius: 50%;
    color: var(--background);
    border: 2px solid var(--shadow);
    box-shadow: 2px 2px 1px var(--shadow);
    background-color: var(--secondary);
    z-index: 10;

    cursor: pointer;
    transition: 0.3s all ease;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 2px solid transparent;
      box-shadow: 0px 0px 0px var(--shadow);
    }
  }
}
