@use '@styles/mixin' as *;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  .logo-container {
    display: flex;
    align-items: center;

    img {
      width: 232px;
      height: auto;
      filter: drop-shadow(1px 1px 2px var(--black));
    }

    .nav-list {
      display: flex;
      gap: 50px;
      margin: 0 30px;

      .nav-item {
        text-decoration: none;
        color: var(--white);
        font-size: 2rem;
        filter: drop-shadow(1px 1px 2px var(--black));
        transition: all 0.3s ease;

        &:hover {
          color: var(--secondary);
        }
      }
    }
  }

  .action {
    display: flex;
    gap: 15px;

    a,
    button {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--white);
      text-decoration: none;
      text-transform: uppercase;
      background-color: transparent;
      transition: 0.3s linear;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        transition: transform 0.5s ease, opacity 0.2s ease;
      }

      &:active svg {
        transform: rotate(360deg);
      }
    }

    .btn {
      border: none;
    }

    .btn-login {
      padding: 8px 30px;
      border-radius: 10px;
      border: 2px solid var(--white);
      filter: drop-shadow(1px 1px 2px var(--black));

      &:hover {
        color: var(--secondary);
        background-color: var(--white);
        border-color: var(--white);
      }
    }

    .user-profile {
      height: 35px;
      width: 35px;
      color: var(--secondary);
      background-color: var(--background);
      border-radius: 50%;
      border: 2px solid var(--shadow);
      box-shadow: 3px 2px 1px var(--shadow);
      z-index: 10;

      cursor: pointer;
      transition: 0.3s all ease;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border: 2px solid var(--shadow);
        box-shadow: 0px 0px 0px var(--shadow);
      }
    }
  }
}
