@use '@styles/mixin' as *;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  .logo-container {
    display: flex;
    align-items: center;

    img {
      width: 232px;
      height: auto;
      filter: drop-shadow(1px 1px 2px var(--black));
    }

    .nav-list {
      display: flex;
      gap: 15px;
      margin: 0 30px;

      .nav-item {
        text-decoration: none;
        color: var(--white);
        font-size: 2rem;
        filter: drop-shadow(1px 1px 2px var(--black));
      }
    }
  }

  .action {
    display: flex;
    gap: 15px;

    button {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--white);
      text-transform: uppercase;
      background-color: transparent;
      transition: 0.3s linear;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        transition: transform 0.5s ease, opacity 0.2s ease;
      }

      &:active svg {
        transform: rotate(360deg);
      }
    }

    .btn {
      border: none;
    }

    .btn-login {
      padding: 10px 30px;
      border-radius: 10px;
      border: 2px solid var(--white);
      filter: drop-shadow(1px 1px 2px var(--black));

      &:hover {
        color: var(--secondary);
        background-color: var(--white);
        border-color: var(--white);
      }
    }
  }
}
