.wrapper {
  width: 100%;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid transparent;

  cursor: pointer;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    transform: translate(5px, -5px);
    border-color: var(--shadow);
    box-shadow: 4px 2px 1px var(--shadow);
  }

  .avatar-container {
    img {
      height: 56px;
      width: 56px;
      border-radius: 50%;
      border: 1px solid var(--shadow);
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: start;

    .username {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--title);
    }

    .content {
      display: flex;
      align-items: center;
      gap: 2px;
      font-size: 1.5rem;
      color: var(--description);

      .message {
        font-size: 1.5rem;
      }

      .time {
        font-size: 1.5rem;
      }
    }
  }
  .dot-container {
    margin-left: auto;
    font-size: 5rem;
    color: var(--secondary);
  }
}
