.wrapper {
  width: 100%;
  height: 100vh;

  background-image: url('/images/hero-banner.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  //Header
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    .logo-container {
      display: flex;
      align-items: center;

      img {
        width: 150px;
        height: auto;
        filter: drop-shadow(1px 1px 1px var(--black));
      }
    }

    .theme {
      button {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--white);
        text-transform: uppercase;
        background-color: transparent;
        transition: 0.3s linear;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          transition: transform 0.5s ease, opacity 0.2s ease;
        }

        &:active svg {
          transform: rotate(360deg);
        }
      }

      .btn {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--titleWithBg);
      }
    }
  }

  // Modal
  .modal {
    position: relative;
    padding: 80px 65px 30px;
    border-radius: 8px;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // MSG
    .success-message {
      position: absolute;
      top: 5px;
      left: 15px;
      padding: 10px 15px;
      margin: 10px 0;
      font-size: 1.4rem;
      color: var(--secondary);
      background-color: rgba(0, 105, 85, 0.1);
      border: 1px solid var(--secondary);
      border-radius: 8px;
      text-align: center;
    }
    .error-message {
      position: absolute;
      top: 5px;
      left: 15px;
      padding: 10px 15px;
      margin: 10px 0;
      font-size: 1.4rem;
      color: var(--red);
      background-color: rgba(220, 46, 96, 0.1);
      border: 1px solid var(--red);
      border-radius: 8px;
      text-align: center;
    }

    .icon-container {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      color: var(--primary);
      background-color: var(--secondary);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title {
      font-size: 3.5rem;
      font-weight: 600;
      text-align: center;
      color: var(--secondary);
    }

    .description {
      margin: 2px 0 15px;
      font-size: 2rem;
      text-align: center;
      color: var(--description);
    }

    .input-form {
      width: 100%;
      border-radius: 18px;
      border: 1px solid var(--input-border);
      background-color: var(--input-bg);

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      input {
        padding: 15px 20px;
        font-size: 1.6rem;
        color: var(--input-text);
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          color: var(--input-placeholder);
        }
      }
    }

    .btn-form {
      width: 100%;
      margin: 30px 0;
      padding: 15px 0px;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      color: var(--white);
      border: none;
      border-radius: 18px;
      border: 2px solid transparent;
      background-color: var(--secondary);
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        color: var(--secondary);
        border-color: var(--secondary);
        background-color: transparent;
      }

      &:active {
        transform: scale(0.98);
      }
    }

    .navigate {
      margin: 10px 0;
      color: var(--title);
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;

      a {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--secondary);

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
