@use '@styles/mixin' as *;

.wrapper {
  padding: 20px 15px;

  // MSG
  .success-message {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 1.4rem;
    color: var(--secondary);
    background-color: rgba(0, 105, 85, 0.1);
    border: 1px solid var(--secondary);
    border-radius: 8px;
    text-align: center;
  }
  .error-message {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 1.4rem;
    color: var(--red);
    background-color: rgba(220, 46, 96, 0.1);
    border: 1px solid var(--red);
    border-radius: 8px;
    text-align: center;
  }

  .title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--title);
  }

  .content {
    display: grid;
    margin: 15px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @include respond-above(lg) {
      margin: 10px 0;
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-above(md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .table {
    // USER

    .user-cell {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      border: 2px solid var(--shadow);
      background-color: var(--background);
      box-shadow: 2px 2px 1px var(--shadow);
      transition: 0.3s all ease;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.8;
        border-color: transparent;
        box-shadow: 0px 0px 0px var(--shadow);
      }

      .block-icon {
        color: var(--red);
      }

      .unblock-icon {
        color: var(--green);
      }
    }

    .user-name {
      font-size: 2.5rem;
      font-family: 500;
    }

    .user-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 8px;
      overflow: hidden;
      background: var(--background);
      border: 2px solid var(--border);

      @include respond-above(md) {
        width: 60px;
        height: 60px;
      }
    }

    .user-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
